<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Complicance Report" />
  <meta name="generator" content="Hugo 0.84.0" />
  <title>Dispute Resolution</title>
  <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" />

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #report thead tr{
        vertical-align: middle;
    }
    html {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }

    body {
      font-family: "Poppins", sans-serif;
    }

    .nav-image {
      width: 300px;
      height: 49.498px;
    }

    .nav-image img {
      height: auto;
      width: 80%;
    }

    .top_title {
      width: 416px;
      height: 70px;
      background-color: #117443;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }

    .location_section {
      background: rgba(0, 0, 0, 0.03);
      padding: 30px 20px 30px 20px;
    }

    .border-right {
      height: 100px;
      width: 1px;
      background: rgba(0, 0, 0, 0.05);
    }

    .map_image {
      padding: 20px;
    }

    .map_image img {
      width: 100%;
    }

    thead {
      padding: 20px;
      border-style: hidden;
    }

    .borderless td,
    .borderless th {
      border: none;
    }

    table td {
      border: 0 !important;
    }

    .color-box {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      border-radius: 5px;
      margin-left: 10px;
    }

    .dp_btn {
      border: 1px solid #ffb443;
      border-radius: 70px;
      color: #ffb443;
      padding: 6px 20px;
      width: fit-content;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer .blockchain_assessment {
      font-size: 20px;
    }

    .footer .blockchain_validation {
      font-size: 14px;
    }

    .footer .hash_div {
      border-radius: 8px;
      color: white;
      width: fit-content;
      padding: 0 20px;
      height: 60px;
      flex-shrink: 0;
      border-radius: 5.833px;
      background: #018a54;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      font-size: 12px;
    }

    .footer .copy_link {
      font-size: 10px;
    }

    @media (max-width: 767px) {
      .footer .blockchain_assessment {
        font-size: 20px;
      }

      .footer .blockchain_validation {
        font-size: 16px;
      }

      .footer .hash_div {
        width: 100%;
        font-size: 12px;
      }

      .footer .copy_link {
        font-size: 12px;
      }
    }

    .d-flex {
      display: flex;
    }

    mr-5 {
      margin-right: 5px;
    }

    mt-10 {
      margin-top: 10
    }

    mb-10 {
      margin-bottom: 10;
    }

    .font-weight-bold {
      font-weight: bold;
    }

    .mb-20 {
      margin-bottom: 20px;
    }

    body {
      margin: auto;
      width: 794px;
    }

    .mb-50 {
      margin-bottom: 50px;
    }

    .space-between {
      justify-content: space-between;
    }

    .flex-count {
      flex: 1;
    }

    .flex-basic {
      flex-basis: 33%;
    }

    label {
      margin-bottom: 10px;
    }

    .bgr {
      background-color: #ddd;
    }

    .top-section,
    .middle-section,
    .third-section,
    .production-place {
      background-color: #fff;
    }

    .justify-space-between {
      justify-content: space-between;
    }

    .p-20 {
      padding: 20px;
    }
    table thead tr {
      background-color: #FFB443;
      text-align: start;
      vertical-align: top;
      font-size: 14px;
    }
    .font-sz {
      font-size:14px;
    }

    .status-box{
      padding: 4px 20px;
      border-radius: 16px;
    }

    .status-box-pending {
      background: #E8E8E8;
      border: 1px solid #000000;
    }
    .status-box-upload-to-eu{
      background: #D0E6FE;
      border: 1px solid #002287
    }

    .status-box-under-review{
      border: 1px solid #B56D01;
      background: #B56D01;
    }

    .status-box-non-complaint{
      background: #FDEBEB;
      border: 1px solid #DA3D3D
    }

    .status-box-mitigation-required{
      background: #FFF7EC;
      border: 1px solid #FFA826
    }

    .status-box-complaint {
      background: #C1FFE7;
      border: 1px solid #489E16
    }

    .production-status{
      padding: 4px 15px;
      border-radius: 14px;
    }

    .tick-sign{
      height: 20px;
      width: 20px;
      border-radius: 3px;
    }

    .production-status-approve {
      background: #E2FFF4;
      border: 1px solid #00BD73
    }

    .production-status-reject {
      background: #FFCEB3;
      border: 1px solid #F06B20
    }

    .production-status-high{
      background: #FF8F8F;
      border: 1px solid #8B0000;
    }

    .production-status-low{
      background: #FFFCEC;
      border: 1px solid #F49238
    }

    .production-status-medium{
      background: #FFCEB3;
      border: 1px solid #F06B20
    }

    .mb-400{
      margin-bottom: 350px;
    }

  </style>
</head>

<body>
  <section class="bgr">
    <nav class="navbar navbar-expand-md mb-50">
      <div class="container-fluid d-flex align-items-center justify-space-between">
        <div class="nav-image">
          <img src="https://dimitra.io/wp-content/themes/dimitra/assets/imgs/dimitralogo2023.svg" alt="dimitra logo" />
        </div>

        <div class="top_title"> Dispute Resolution </div>
      </div>
    </nav>
    <main class="container-fluid mb-20 p-20  font-sz">
      <div class="forth-section p-20 mb-50 production-place">
        <h4 class="mb-20"> List Of  Dispute Resolution </h4>
        <div>
          <table id="report" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>Dispute ID</th>
                <th>Dispute Reason</th>
                <th>Farm Name </th>
                <th>Farm Location </th>
                <th>Area Size </th>
                <th>Date Of Request </th>
                <th>Status </th>
              </tr>
            </thead>
            <tbody>
              <% if(report.rows.length) {  %>
                <% for(const row of report.rows) { %> 
                <tr>
                  <td><%= row.id %></td>
                  <td> <%= row.title %> </td>
                  <td> <%= row.production_place.farm.farmName %>  </td>
                  <td> <%= row.production_place.farm.address %>  </td>
                  <td> <%= row.geofence.geofenceArea %>  </td>
                  <% const formatDate = dateString => new Date(dateString).toISOString().replace('T', ' ').split('.')[0]; %>
                  <td> <%= row.createdAt ? formatDate(row.createdAt) : null %>  </td>
                  <td> <%= row.status %> </td>
                </tr>
                <% } %>
                <% } else { %>
                  <tr>
                    <td colspan="7">No  Record Found </td>
                  </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </section>
</body>

</html>